



#fondo{

    /* background-image: url('../assets/plane.jpg */
}

#requeriments-container{
    z-index: 200;
    display: grid;
}


#user{

    display: inline;

}
#password{

    display: inline;
    
}

#text_user{

    font-family:'Roboto', sans-serif;;
}


#text_contraseña{
    
    font-family:'Roboto', sans-serif;
    
}

#button_accesar{

    font-family:'Roboto', sans-serif;
    font-weight: 300;
    /* background-color: #F79B01; */
    border-radius: 15px;
    margin-top: 20px;

}


/*
Glasmorfismo
Color:5688C7 axul
color: 226CE0

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 */