/* Variables de Color*/

:root{
    
    --main-bg-colorFuente:#F89C01;
    --main-bg-colorFondo:rgb(255, 255, 255);
    --main-bg-colorTexto:rgb(0, 0, 0);
}


.Master_container{
    
    height:100vh;

}


body{

    background-color: var(--main-bg-colorFondo);
    margin: 0;
    height:auto;
    
}
footer{

    width: 100%;

}

#header_line{
    
    margin-top: 5px;
    background-color:var(--main-bg-colorFuente);
    height:4px;
    width:auto;
    
}

.logos_header_grid{
    
    display:grid;
    grid-template-columns: 50% 50%;
}

#imagen_logotipo{

    text-align:right;
    margin:0px;

}

#server_pack_image{

    display:none;
}

@media screen and (max-width:800px){

    #server_pack_image{
        display:block;
        width:125px;
        height:30px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #imagen_logo{

        display:none;
    }
}

@media screen and (max-width:300px){

    #server_pack_image{

        width:150px;
        margin:0;
        margin-top: 10px;
        margin-left:10px;
    }

}


#logotipo_2{

    left:80%;
    width:100px;
    
}

@media screen and (max-width:300px){

    #logotipo_2{

        width:80px;
    }

}

#Logotipo_Central{
    
    text-align:center;
}

#imagen_logo{
    
    width:25%;
    margin-top: 35px;

}
@media screen and (max-width:400px){


    #imagen_logo{

        width:200px;
    }

}


#requeriments-container{
    
    box-shadow: 2px 8px 10px 2px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 50px;
}

#requeriments-container{
    
    display:grid;
    grid-template-rows: 23% 23% 13%;
    /* * Con esto podemos editar el ancho de el login */
    width:25%;
    height:400px;
}

/* TODO Editar tamaño de los inputs para que coincida */
@media screen and (max-width:800px){

    #requeriments-container{

        width:50vw;
        margin-bottom: 300px;
    }
    
}

@media screen and (max-width:300px){

    #requeriments-container{

        width:70vw;
    }

}


#texto-usuario{

    text-align:center;
}

#user{

    width:23vw;
    margin-left: 10px;
}

@media screen and (max-width:800px){
    
    #user{
        
        width:45vw;
        margin-left: 10px;

    }
}

@media screen and (max-width:300px){

    #user{

        width:90%;
    }

}


#child_password{
    
    width:23vw;
    margin-left: 10px;
    
}

#texto-contraseña{

    text-align:center;

}

@media screen and (max-width:800px){
    
    #child_password{

        width:45vw;
        
    }

}

@media screen and (max-width:300px){

    #child_password{

        width:90%;
    }

}


#text_user{

    color: var(--main-bg-colorTexto);
}

#text_contraseña{
    
    color: var(--main-bg-colorTexto);
}



#button_accesar{

    margin-top:30px;
    background-color:var(--main-bg-colorFuente);
    cursor: pointer;
}

#button_accesar:hover{

    
    background-color: var(--main-bg-colorFondo);
    color:black;
    border-style: solid;
    border-color: var(--main-bg-colorFuente);
}

#button_accesar:active{

    background-color:var(--main-bg-colorFuente);

}

#linea_footer{

    background-color:var(--main-bg-colorFuente);
    height:3px;

}


#footer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

/* !Hacer la revision del tamaño de los logos para el espaciado con el login */
#imagen_cuadro{

    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    /*El grid gap me da la separacion de los elementos */
    grid-gap:10px;
    align-items: end;
}


#imagen_1{
    
    width:70px;
}

#imagen_2{
    
    width:125px;
}

#imagen_3{
    
    /* acomodar para responsive */
    width:150px;
    
}



@media screen and (max-width:1000px){

    #imagen_1{

        width:55px;
    }
    #imagen_2{

        width:80px;
    }
    #imagen_3{
        margin-top: 20px;
        width:80px;
    }
}
@media screen and (max-width:300px){

    #imagen_cuadro{

        grid-template-columns: 10% 20% 20% 20% 10%;

    }

    #imagen_1{

        width:50px;
    }
    #imagen_2{

        width:55px;
    }
    #imagen_3{
        margin-top: 20px;
        width:80px;
    }

}

#imagen_pie_pagina{
    display:inline-block;
    background-color:#ffff;
    height:55px;
    border-radius:15px;
    
}

#footer_item_2{

    display:grid;
    grid-template-rows: 30% 30% 30%;
    margin: 5%  25% 0 25%;
}


@media screen and (max-width:700px){


    #Espaciado{

        font-size: 9px;
    }

}

@media screen and (max-width:300px){

    #footer_item_2{

        margin: 0% 20% 0 25%;
    }

}




