#main_container{

    display:flex;
    display:block

}

#requeriments-container{

    padding:50px;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    border-style: inset;
    border-color: orange;
    border-radius: 25px;
}

